<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ba.unsa.etf.rma.elza_kalac.movieapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permission to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".Activities.MovieActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="movieapp.elza_kalac.rma.etf.unsa.ba"
                    android:pathPrefix="/main"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MoviesDetailsActivity"
            android:parentActivityName=".Activities.MovieActivity" />
        <activity
            android:name=".Activities.SearchActivity"
            android:parentActivityName=".Activities.MovieActivity" />
        <activity android:name=".Activities.NewsFeed" />
        <activity android:name=".Activities.TVShows" />
        <activity
            android:name=".Activities.TrailerActivity"
            android:parentActivityName=".Activities.MoviesDetailsActivity" />
        <activity
            android:name=".Activities.TVShowDetails"
            android:parentActivityName=".Activities.TVShows" />
        <activity
            android:name=".Activities.Seasons"
            android:parentActivityName=".Activities.TVShowDetails" />
        <activity android:name=".Activities.ActorDetails" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="23e7a64d301273a24eaad56605519cd65b6d0bee" />

        <activity
            android:name=".Activities.EpisodeDetails"
            android:parentActivityName=".Activities.Seasons" />
        <activity android:name=".Activities.Settings" />
        <activity android:name=".Activities.UsersList"></activity>
    </application>

</manifest>