<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ba.unsa.etf.rma.elza_kalac.movieapp">

    <provider
        android:name="com.facebook.FacebookContentProvider"
        android:authorities="com.facebook.app.FacebookContentProvider672699442907366"
        android:exported="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MovieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver android:name=".AlarmReciever" />

        <activity android:name=".Activities.MovieActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="movieapp.elza_kalac.rma.etf.unsa.ba"
                    android:pathPrefix="/main"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Details.MoviesDetailsActivity"
            android:parentActivityName=".Activities.MovieActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.themoviedb.org"
                    android:pathPrefix="/movie"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SearchActivity"
            android:parentActivityName=".Activities.MovieActivity" />
        <activity android:name=".Activities.NewsFeed" />
        <activity android:name=".Activities.TVShows" />
        <activity
            android:name=".Activities.Details.TrailerActivity"
            android:parentActivityName=".Activities.Details.MoviesDetailsActivity" />
        <activity
            android:name=".Activities.Details.TVShowDetails"
            android:parentActivityName=".Activities.TVShows">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.themoviedb.org"
                    android:pathPrefix="/tv"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Details.Seasons"
            android:parentActivityName=".Activities.Details.TVShowDetails" />
        <activity
            android:name=".Activities.Details.ActorDetails"
            android:parentActivityName=".Activities.Details.MoviesDetailsActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="23e7a64d301273a24eaad56605519cd65b6d0bee" />

        <activity
            android:name=".Activities.Details.EpisodeDetails"
            android:parentActivityName=".Activities.Details.Seasons" />
        <activity
            android:name=".Activities.UserPrivilegies.Settings"
            android:parentActivityName=".Activities.MovieActivity" />
        <activity
            android:name=".Activities.Login"
            android:parentActivityName=".Activities.MovieActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".Activities.UserPrivilegies.Favorites"
            android:parentActivityName=".Activities.MovieActivity" />
        <activity
            android:name=".Activities.UserPrivilegies.Watchlist"
            android:parentActivityName=".Activities.MovieActivity" />
        <activity
            android:name=".Activities.UserPrivilegies.Ratings"
            android:parentActivityName=".Activities.MovieActivity" />
        <activity
            android:name=".Activities.UserPrivilegies.Rating"
            android:parentActivityName=".Activities.Details.MoviesDetailsActivity" />
        <activity android:name=".Activities.Details.Gallery"
            android:parentActivityName=".Activities.Details.MoviesDetailsActivity"/>
        <activity android:name=".Activities.Details.ImageView" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.Details.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>